.come-on {
  display: flex;
  padding: 130px 80px;
  color: $basic-white;
  background: $bcg-black;
  background-image: url("../img/bcg/header-promo-bcg.webp"), url("../img/bcg/header-promo2-bcg.webp");
  background-position: -10% 105%, 150% 40%;
  background-repeat: no-repeat, no-repeat;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    overflow: hidden;
  }
}

.come-on__wrapper {
  width: 50%;
}
