.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 310px;
  max-width: 100%;

  .btn {
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 100px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

input {
  box-sizing: border-box;
  max-height: 45px;
  padding: 22px 10px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $basic-white;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #C7F0F9;

  &::placeholder {
    color: $basic-white;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}

.form_message.error.inactive {
  display: none;
}

.form_message.error.active {
  display: block;
  color: #0a0a0a;
}

.error {
  color: #831B1B;
  border-color: #831B1B !important;
}

label.error {
  margin-top: -20px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

#phone1-error {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

.form__checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  accent-color: $basic-white;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;

  input {
    width: 18px;
    height: 18px;
  }

  & input:checked::before {
    position: absolute;
    content: '';
    background: url(../img/icons/check.svg);
    display: block;
    width: 18px;
    height: 18px;
    top: 6px;
    left: 4px;
    background-size: contain;
    background-repeat: no-repeat;
  }



  a {
    color: #fff;
    text-decoration: underline;
  }
}

