.header-promo {
  padding: 30px 25px;
  background: $bcg-black;
  background-image: url("../img/bcg/header-promo-bcg.webp"), url("../img/bcg/header-promo2-bcg.webp");
  background-position: -5% -20%, 150% 50%;
  background-repeat: no-repeat, no-repeat;


  @media (max-width: $tablet-width) {
    position: relative;
    padding: 25px 12px;
    background-image: url("../img/bcg/header-promo-bcg.webp"), url("../img/bcg/header-promo2-bcg-mob.webp");
    background-position: -130% -5%, 0% 100%;
  }
}
