/* Fonts */

// Montserrat
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"),
    url("../fonts/montserrat/Montserrat-Medium500.woff2") format("woff2"),
    url("../fonts/montserrat/Montserrat-Medium500.woff") format("woff"),
    url("../fonts/montserrat/Montserrat-Medium500.ttf") format("truetype");
}

// Montserrat
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Alternates Medium"),
    url("../fonts/montserratAlternates/MontserratAlternates-Medium.woff2") format("woff2"),
    url("../fonts/montserratAlternates/MontserratAlternates-Medium.woff") format("woff"),
    url("../fonts/montserratAlternates/MontserratAlternates-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Montserrat Alternates ExtraBold"),
    url("../fonts/montserratAlternates/MontserratAlternates-ExtraBold.woff2") format("woff2"),
    url("../fonts/montserratAlternates/MontserratAlternates-ExtraBold.woff") format("woff"),
    url("../fonts/montserratAlternates/MontserratAlternates-ExtraBold.ttf") format("truetype");
}

// Inter
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter Regular"),
    url("../fonts/inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/inter/Inter-Regular.woff") format("woff"),
    url("../fonts/inter/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter Medium"),
    url("../fonts/inter/Inter-Medium.woff2") format("woff2"),
    url("../fonts/inter/Inter-Medium.woff") format("woff"),
    url("../fonts/inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Inter Bold"),
    url("../fonts/inter/Inter-Bold.woff2") format("woff2"),
    url("../fonts/inter/Inter-Bold.woff") format("woff"),
    url("../fonts/inter/Inter-Bold.ttf") format("truetype");
}

// Aldrich
@font-face {
  font-family: "Aldrich";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Aldrich Regular"),
    url("../fonts/aldrich/Aldrich-Regular.woff2") format("woff2"),
    url("../fonts/aldrich/Aldrich-Regular.woff") format("woff"),
    url("../fonts/aldrich/Aldrich-Regular.ttf") format("truetype");
}

// Aldrich
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Poppins Regular"),
    url("../fonts/poppins/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/poppins/Poppins-Regular.woff") format("woff"),
    url("../fonts/poppins/Poppins-Regular.ttf") format("truetype");
}
